<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path, local: true do |form| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
    <% end %>
    <div class="control-group mb-3">
            <%= form.label :email, class: 'form-label' %>
            <div class="controls">
                <%= form.email_field :email, class: "form-control", placeholder: "johndoe@email.com" %>
            </div>
        </div>

        <div class="control-group mb-3">
            <%= form.label :password, class: 'form-label' %>
            <div class="controls">
                <%= form.password_field :password, class: "form-control", placeholder: "password" %>
            </div>
        </div>

        <div class="control-group mb-3">
            <%= form.label :password_confirmation, class: 'form-label' %>
            <div class="controls">
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <%= form.submit "Sign up", class: 'btn btn-primary' %>
            </div>
        </div>
<% end %>